.entertest_btn{
    float: left;
    margin-left: 40px;
    margin-top: 70px;
}
.enter_test{
    width:120px;
    height:40px;
    background-color:#ff0000;
    color: white;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}
.enter_test:hover{
    background-color:#c52929 ;
}
.exam_body{
    max-width:2600px;
    min-height: 1000px;
    background-color: #f3f5f7;

}
.exam_main{
    margin: auto;
    padding-bottom: 100px;
    max-width: 1200px;
    min-height: 1000px;
    background-color: #f3f5f7;
}

.exam_title{
    height:100px;
}
.course_img{
    position: relative;
    top:10px;
    left:5px;
    width: 150px;
    height:80px;
    float: left;
}
.course_img_show{
    width: 120px;
    height: 75px;
    border-radius: 15px;
    box-shadow: 4px 4px 3px #e0e0e0 ;
}
.exam_title_span{
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 16px;
    color:#636363;
    position: relative;
    left: 10px;
    top:20px;
}
.exam_teacher{
    font-size: 14px;
    color:#7ca4cb;
    position: relative;
    left: 10px;
    top:32px;
}
.exam_teacher_span{
    margin-left: 10px;
}
.time_left{
    float: right;
    font-family: Arial;
    font-size: 18px;
    color:#6d6d6d ;
}
.time_left_char{
    margin-right: 15px;
}
#timeshow{
    font-size: 16px;
    color:#9f9f9f ;
}
.error_img{
    width: 700px;
    margin: auto;
    margin-top: 100px;
}
.error_char{
    width:700px;
    margin: auto;
    text-align: center;
}
.exam_content{
    margin: auto;
    max-width: 1200px;
    min-height: 800px;
    background-color: white;
    box-shadow: 5px -5px 3px #e0e0e0 ;
}
.test_title_span{
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 30px;
    position: relative;
    top:20px;
}
.option_main{
    width:700px;
    position: relative;
    top:15px;
    margin-bottom: 20px;
}
.content_span{
    position: relative;
    top:10px;
    font-family: bold;
    font-weight: bold;
    font-size: 17px;
    left: 120px;
    color:#373737;
}
.option{
    position: relative;
    top:5px;
    margin-top: 10px;
    left: 120px;
    font-family: Arial;
    font-size: 15px;
}
.option_main_1{
    width:700px;
    height: 180px;
    position: relative;
    top:60px;
    z-index: -1;
}
.option_btn{
    position: relative;
    top:100px;
    left:110px;
}
.opbutton{
    width:100px;
    height:30px;
    background-color: #1c84c6;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #6d6d6d;
}
.opbutton:hover{
    background-color: #329bde;
}
.test_title_third{
    width:1100px;
    height: 46px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 15px;
    padding-top: 10px;
    border: 1px solid #eaeaea;
    background-color:#f2f2f2 ;
}
.test_title_third_1{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 130%;
}
.search_icon{
    margin-bottom: -7px;
    margin-left: -37px;
    width: 20px;
    height: 20px;
}
.search_pos{
    margin-bottom: -50px;
    z-index: 999;
}
.col-xs-10{
    width:42%;
    padding-right: 60px;
    padding-top: 8px;
}
.col-xs-2{
    padding-left: 3%;
}
.col-xs-9{
    width:18%;
    text-align: right;
}
.col-xs-3{
    width:20%;
}
.test_hahaha:hover .dropdown-menu {
    display: block;
}
.arrow1{
    border-color: #efefef transparent  transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    right: 61px;
    top: 58px;
    width: 0;
    z-index: 1002;
}
#dropdown-toggle_modify1{
    padding: 30px 34.5px;
}
#search{
    margin-top: 5px;
}
.personal_info_img1{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}
.headimgframe{
    position: absolute;
    right: 50%;
    margin-right: -30px;
    top: -7.2px;
}
.test_hahaha:hover .arrow1 {
    border-color: #efefef transparent  transparent transparent;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
    position: absolute;
    top: 50px;
}
.personimg{
    right: 0px;
    left: auto;
    top:65px;
    background-color:  #efefef;
    min-height: 300px;
    min-width: 250px;
}
.person_expand{
    margin: 0 auto;
    text-align: center;
}
.big{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #e2e2e2;
}
.pe1{
    padding-top: 10px;
}
.pe4{
    display: inline-block;
    text-align: left;
    width: 45%;
}
.pe5{
    display: inline-block;
    text-align: right;
    width: 45%;
}
.pe7{
    width: 90%;
    text-align: right;
}
#peid2{
    font-size: 120%;
    color: #616161;
    padding: 3px 4px;
}
#peid3{
    font-size: 80%;
    color: #767676;
    padding: 3px 4px;
}
#peid4{
    font-size: 90%;
    color: #de9e21;
    padding: 3px 4px;
}
#peid5{
    font-size: 90%;
    color: #fff;
    background-color: #00a1d6;
    border-radius: 15px;
    padding: 3px 4px;
}
#peid6 {
    padding: 3px 4px;
    color:#8d8d8d ;
    font-size: 90%;
}
#peid7{
    color:  #00a1d6;
    font-size: 90%;
}
.personal_info_img2{
    position: relative;
    width: 55.5px;
    height: 55.5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}
.headimgframe1{
    position: absolute;
    right: 50%;
    margin-right: -37px;
    top: -9.5px;
}

.table{
    display: inline-block;
    width:240px;
    height:100px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.tr{
    width:100%;
}
.td{
    display:inline-table;
    width:45%;
    height:45%;
}
.pe3:hover #peid3{
    color:  #00a1d6;
}
.pe5:hover #peid5{
    background-color: #4db7da;
}
.pe7:hover #peid7{
    color: #8fcfe4;
}
.pe8:hover #peid8{
    background-color:#c4c3c3 ;
}
.pe9:hover #peid9{
    background-color:#c4c3c3 ;
}
.pe10:hover #peid10{
    background-color:#c4c3c3 ;
}
.pe11:hover #peid11{
    background-color:#c4c3c3 ;
}
#peid8{
    font-family: bold;
    font-size: 100%;
    color:#757575;
    background-color:#e8e8e8;
    border:solid 2px #efefef;
    padding: 10px;
}
#peid9{
    font-family: bold;
    font-size: 100%;
    color:#757575;
    background-color:#e8e8e8;
    border:solid 2px #efefef;
    padding: 10px;
}#peid10{
     font-family: bold;
     font-size: 100%;
     color:#757575;
     background-color:#e8e8e8;
     border:solid 2px #efefef;
     padding: 10px;
 }#peid11{
      font-family: bold;
      font-size: 100%;
      color:#757575;
      background-color:#e8e8e8;
      border:solid 2px #efefef;
      padding: 10px;
  }